<!DOCTYPE html>

<b>Entries ({{ entries|length }})</b>
</br>
</br>
{% for entry in entries %}
<a href="{% url 'index' %}{{ entry.title }}">{{ entry.title }}</a>
<br />
<br />
{% endfor %}

<b>Others ({{ others|length }})</b>
</br>
</br>
{% for other in others %}
<a href="{% url 'index' %}{{ other.title }}">{{ other.title }}</a>
<br />
<br />
{% endfor %}

<b>Historical entries ({{ historical|length }})</b>
<p>These are old entries made to record big life events.</p>
{% for historical in historical %}
<a href="{% url 'index' %}{{ historical.title }}">{{ historical.title }}</a>
<br />
<br /> {% endfor %}